.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: var(--page-pad-left) var(--page-pad-right);
}