@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --page-pad-left: 4vw;
  --page-pad-right: 4vw;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prose {
  max-width: none !important;
}

.prose p,
h3 {
  /* margin-left: 20em;
  margin-right: 20em;
  max-width: 65ch; */
  /* align-self: center; */
  /* wid */
  /* max-width: 65ch; */
  /* margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; */
}

.prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: 0.5em !important;
}

.article-content {
  display: grid;
}

@media (min-width: 768px) {
  .article-content {
    grid-template-columns:
      [full-start] minmax(1rem, 1fr) [content-start] min(65ch, calc(100% - 2rem)) [content-end] minmax(1rem, 1fr) [full-end];
  }
}

@media (max-width: 767px) {

  .prose :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0 !important;
  }
}

/* All typography uses the content column */
.article-content>h1,
.article-content>h2,
.article-content>h3,
.article-content>h4,
.article-content>h5,
.article-content>h6,
.article-content>p,
.article-content>ul,
.article-content>ol,
.article-content>blockquote {
  grid-column: content;
}

.article-content>.article-date {
  margin: 0px;
}

/* Images span the full width */
.article-content>div {
  grid-column: full;
  max-width: 100%;
}

.article-content img {
  max-height: 80vh !important;
}

em {
  opacity: 0.7;
  font-size: var(--text-sm);
  line-height: calc(1.25 / .875)
}

.masonry {
  column-count: 3;
  column-gap: 1rem;
}

.masonry div {
  margin-bottom: 1rem;
  break-inside: avoid;
}

.masonry img {
  width: 100%;
  break-inside: avoid;
}

/* Responsive */
@media (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

.gallery-grid {
  display: grid;
  grid-template-columns: 2;
  grid-gap: 4;
}

/* Responsive */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1;
  }
}

@media (max-width: 480px) {
  .masonry {
    column-count: 1;
  }
}