.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-announcement-bar-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 4vw;
    padding-bottom: 4vw;
    padding-left: var(--page-pad-left);
    padding-right: var(--page-pad-right);
    pointer-events: auto;
}

.header-inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
}

.nav-links {
    display: flex;
    gap: 1em;
}